@model EntityLayer.Concreate.Heading
@{
    ViewBag.Title = "WriterHeadingAdd";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<div class="title">Heading Add</div>

<form action="/WriterPanel/WriterHeadingAdd" method="post" class="nice-form">

    <div class="field">
        <label for="HeadingName">Heading Name</label>
        <input class="input" type="text" name="HeadingName" id="HeadingName" placeholder="Heading Name" />
    </div>

    <div class="field">
        <label for="CategoryID">Category</label>
        @Html.DropDownListFor(x => x.CategoryID, (IEnumerable<SelectListItem>)ViewBag.Categories, new { @class = "input" })
    </div>

    <div class="filter">
        <button type="submit" class="submit-btn">Heading Add</button>
        <a href="~/WriterPanel/WriterHeadings" class="btn-danger">Return Heading Page</a>
    </div>
</form>

