
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>AdminLTE 3 | Dashboard 3</title>

    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="~/AdminThema/AdminLTE-3.0.4/plugins/fontawesome-free/css/all.min.css">
    <!-- summernote -->
    <link rel="stylesheet" href="~/AdminThema/AdminLTE-3.0.4/plugins/summernote/summernote-bs4.css">
    <script src="~/AdminThema/AdminLTE-3.0.4/plugins/summernote/summernote.min.js"></script>
    <!-- IonIcons -->
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/AdminThema/AdminLTE-3.0.4/dist/css/adminlte.min.css">
    <!-- Ekko Lightbox -->
    <link rel="stylesheet" href="~/AdminThema/AdminLTE-3.0.4/plugins/ekko-lightbox/ekko-lightbox.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Admin Table style -->
    <link rel="stylesheet" href="~/AdminThema/AdminLTE-3.0.4/dist/css/adminTable.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
<!--
BODY TAG OPTIONS:
=================
Apply one or more of the following classes to to the body tag
to get the desired effect
|---------------------------------------------------------|
|LAYOUT OPTIONS | sidebar-collapse                        |
|               | sidebar-mini                            |
|---------------------------------------------------------|
-->
<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar user panel (optional) -->
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="image">
                        <img src="~/AdminThema/AdminLTE-3.0.4/dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
                    </div>
                    <div class="info">
                        <a href="#" class="d-block">Alexander Pierce</a>
                    </div>
                </div>

                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

                        <li class="nav-item has-treeview">
                            <a href="~/Admin/About" class="nav-link" id="navLink">
                                <i class="fas fa-info-circle"></i>
                                <p>About</p>
                            </a>
                        </li>

                        <li class="nav-item has-treeview">
                            <a href="~/Admin/Category" class="nav-link" id="navLink">
                                <i class="fas fa-th-list"></i>
                                <p>Categories</p>
                            </a>
                        </li>

                        <li class="nav-item has-treeview">
                            <a href="~/Admin/Heading" class="nav-link" id="navLink">
                                <i class="fas fa-heading"></i>
                                <p>Headings</p>
                            </a>
                        </li>

                        <li class="nav-item has-treeview">
                            <a href="~/Admin/Writer" class="nav-link" id="navLink">
                                <i class="fas fa-user-edit"></i>
                                <p>Writers</p>
                            </a>
                        </li>

                        <li class="nav-item has-treeview">
                            <a href="~/Admin/ContactandMessage" class="nav-link" id="navLink">
                                <i class="fas fa-envelope"></i>
                                <p>Contact/Message</p>
                            </a>
                        </li>

                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link" id="navLink">
                                <i class="fas fa-newspaper"></i>
                                <p>Articles</p>
                            </a>
                        </li>

                        <li class="nav-item has-treeview">
                            <a href="pages/calendar.html" class="nav-link" id="navLink">
                                <i class="fas fa-user-shield"></i>
                                <p>Authorizations</p>
                            </a>
                        </li>

                        <li class="nav-item has-treeview">
                            <a href="~/Admin/Gallery" class="nav-link" id="navLink">
                                <i class="fas fa-images"></i>
                                <p>Gallery</p>
                            </a>
                        </li>

                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link" id="navLink">
                                <i class="fas fa-globe"></i>
                                <p>Go to Website</p>
                            </a>
                        </li>

                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link" id="navLink">
                                <i class="fas fa-sign-out-alt"></i>
                                <p>LogOut</p>
                            </a>
                        </li>

                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link" id="navLink">
                                <i class="fas fa-chart-bar"></i>
                                <p>Charts/Grafikler <i class="fas fa-angle-left right"></i></p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="pages/charts/chartjs.html" class="nav-link" id="navLink">
                                        <i class="fas fa-chart-pie"></i>
                                        <p>Pie Chart</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="pages/charts/flot.html" class="nav-link" id="navLink">
                                        <i class="fas fa-chart-bar"></i>
                                        <p>Column Chart</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="pages/charts/inline.html" class="nav-link" id="navLink">
                                        <i class="fas fa-chart-line"></i>
                                        <p>Line Chart</p>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="nav-item has-treeview">
                            <a href="~/ErrorPage/Page404" class="nav-link" id="navLink">
                                <i class="fas fa-exclamation-triangle"></i>
                                <p>Error Pages</p>
                            </a>
                        </li>


                    </ul>
                </nav>
            </div>
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <div class="content" style="padding-top: 15px;">
                @RenderBody()
            </div>
        </div>
        <footer class="main-footer" style="text-align:center">
            <strong>Telif Hakkı &copy; 2025 <a href="">Muhsin Yiğit Örücü</a>.</strong>
            Tüm Hakları saklıdır.
        </footer>
    </div>
    <!-- ./wrapper -->
    <!-- REQUIRED SCRIPTS -->
    <!-- jQuery -->
    <script src="~/AdminThema/AdminLTE-3.0.4/plugins/jquery/jquery.min.js"></script>
    <!-- Summernote -->
    <script src="~/AdminThema/AdminLTE-3.0.4/plugins/summernote/summernote-bs4.min.js"></script>
    <!-- Page Script -->
    <script>
        $(function () {
            //Add text editor
            $('#compose-textarea').summernote()
        })
    </script>
    <!-- jQuery UI -->
    <script src="~/AdminThema/AdminLTE-3.0.4/plugins/jquery-ui/jquery-ui.min.js"></script>
    <!-- Ekko Lightbox -->
    <script src="~/AdminThema/AdminLTE-3.0.4/plugins/ekko-lightbox/ekko-lightbox.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/AdminThema/AdminLTE-3.0.4/dist/js/adminlte.min.js"></script>
    <!-- Filterizr-->
    <script src="~/AdminThema/AdminLTE-3.0.4/plugins/filterizr/jquery.filterizr.min.js"></script>
    <!-- Page specific script -->
    <script>
        $(function () {
            $(document).on('click', '[data-toggle="lightbox"]', function (event) {
                event.preventDefault();
                $(this).ekkoLightbox({
                    alwaysShowClose: true
                });
            });

            $('.filter-container').filterizr({ gutterPixels: 3 });
            $('.btn[data-filter]').on('click', function () {
                $('.btn[data-filter]').removeClass('active');
                $(this).addClass('active');
            });
        })</script>
    <!-- Bootstrap -->
    <script src="~/AdminThema/AdminLTE-3.0.4/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE -->
    <script src="~/AdminThema/AdminLTE-3.0.4/dist/js/adminlte.js"></script>

    <!-- OPTIONAL SCRIPTS -->
    <script src="~/AdminThema/AdminLTE-3.0.4/plugins/chart.js/Chart.min.js"></script>
    <script src="~/AdminThema/AdminLTE-3.0.4/dist/js/demo.js"></script>
    <script src="~/AdminThema/AdminLTE-3.0.4/dist/js/pages/dashboard3.js"></script>
</body>
</html>
