@using EntityLayer.Concreate
@model List<Category>
@{
    Layout = null;
}

<h3>Category List</h3>
<br />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<table class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Status</th>
            <th>Edit</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.CategoryID</td>
                <td>@item.CategoryName</td>
                <td>@item.CategoryDescription</td>
                @if (item.CategoryStatus)
                {
                    <td><span class="badge bg-success text-sm-center">Aktif</span></td>
                }
                else
                {
                    <td><span class="badge bg-danger text-sm-center">Pasif</span></td>
                }
                <td><a href="/Category/CategoryEdit/@item.CategoryID" class="btn btn-warning btn-sm">Edit</a></td>
            </tr>
        }
    </tbody>
</table>
<a href="/Category/CategoryAdd" class="btn btn-primary btn-sm">Category Add</a>
