@using EntityLayer.Concreate
@model List<Content>


@foreach (var item in Model)
{
    <div class="timeline-item">
        <div class="timeline-header">
            <i class="fas fa-comment"></i>
            <span class="writer-name">@(item.Writer.WriterName + " " + item.Writer.WriterSurname)</span>
        </div>

        <span class="heading">
            <span class="heading-label">Başlık:</span> @item.Heading.HeadingName
        </span>

        <div class="content">
            @item.ContentValue
        </div>

        <div class="date">
            <i class="far fa-calendar"></i>
            <span>@item.ContentDate.ToShortDateString()</span>
        </div>
    </div>
}

