@using EntityLayer.Concreate
@model List<Content>


@foreach (var item in Model)
{

    <div class="timeline-item" style="background:#b0d6db; border-radius: 10px; padding: 1rem; box-shadow: 0 4px 12px rgba(0,0,0,0.1);">

        <div style="display:flex; align-items:center; margin-bottom:0.5rem;">
            <i class="fas fa-comment"
               style="background: #0056B3; color: #fff; border-radius: 50%; padding: 10px; font-size: 17px; margin-right: 0.8rem;">
            </i>
            <span style="color:#0b0d2e; font-weight: bold; margin-right: 0.5rem;">@(item.Writer.WriterName + " " + item.Writer.WriterSurname)</span>
        </div>
        <span style="color: #0056B3;margin-bottom: 1rem;font-weight:bold"> <span style="color: black">Heading Name:</span>  @item.Heading.HeadingName</span>

        <div style="margin: 15px 0; color: black;">
            @item.ContentValue
        </div>
        <div style="font-size:0.85rem; color:#888;">
            <i class="far fa-calendar" style="margin-right: 4px; color: black"></i><span style="font-weight: bold; color: black">@item.ContentDate.ToShortDateString()</span>
        </div>
    </div>
    <hr />
}


