<footer class="footer text-left">
    <div class="container py-4 py-sm-5">
        <div class="d-flex justify-content-between pt-lg-3  footer-bottom-cpy">
            <div class="copy-right-w3ls">
                <p>
                    © @DateTime.Now.Year VİTRİN. Tüm Hakları Saklıdır | Tasarlayan
                    <a href="http://w3layouts.com/"> Muhsin Yiğit Örücü </a>

                </p>
            </div>
            <div class="social-content pb-md-0 pb-4">
                <ul class="social-icons text-center d-flex">
                    <li>
                        <a href="#">
                            <i class="fab fa-github"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
