<section class="gallery py-md-5 py-3" id="projects">
    <div class="gallery-inner container py-md-5 pb-3">
        <h3 class="tittle-w3 text-uppercase mb-lg-5 mb-3 text-center">Görseller</h3>
        <div class="row">

            <div class="col-md-4 proj_gallery_grid" data-aos="zoom-in">
                <div class="section_1_gallery_grid">
                    <a href="~/AdminThema/AdminLTE-3.0.4/Images/Ekran görüntüsü 2025-12-22 110036.png">
                        <div class="section_1_gallery_grid1">
                            <img src="~/AdminThema/AdminLTE-3.0.4/Images/Ekran görüntüsü 2025-12-22 110036.png" alt="Proje görseli" class="img-fluid fixed-size" />
                            <div class="proj_gallery_grid1_pos">
                                <h3>Admin Girişi</h3>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="section_1_gallery_grid" data-aos="zoom-in">
                    <a href="~/AdminThema/AdminLTE-3.0.4/Images/Ekran görüntüsü 2025-12-22 110158.png">
                        <div class="section_1_gallery_grid1">
                            <img src="~/AdminThema/AdminLTE-3.0.4/Images/Ekran görüntüsü 2025-12-22 110158.png" alt="" class="img-fluid fixed-size" />
                            <div class="proj_gallery_grid1_pos">
                                <h3>Yazar Listesi</h3>

                            </div>
                        </div>
                    </a>
                </div>
                <div class="section_1_gallery_grid" data-aos="zoom-in">
                    <a href="~/AdminThema/AdminLTE-3.0.4/Images/Ekran görüntüsü 2025-12-22 110214.png">
                        <div class="section_1_gallery_grid1">
                            <img src="~/AdminThema/AdminLTE-3.0.4/Images/Ekran görüntüsü 2025-12-22 110214.png" alt=" " class="img-fluid fixed-size" />
                            <div class="proj_gallery_grid1_pos">
                                <h3>Gelen Kutusu</h3>

                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4 proj_gallery_grid" data-aos="zoom-in">
                <div class="section_1_gallery_grid">
                    <a href="~/AdminThema/AdminLTE-3.0.4/Images/Ekran görüntüsü 2025-12-22 110232.png">
                        <div class="section_1_gallery_grid1">
                            <img src="~/AdminThema/AdminLTE-3.0.4/Images/Ekran görüntüsü 2025-12-22 110232.png" alt=" " class="img-fluid fixed-size" />
                            <div class="proj_gallery_grid1_pos">
                                <h3>Hata Sayfası</h3>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="section_1_gallery_grid" data-aos="zoom-in">
                    <a href="~/AdminThema/AdminLTE-3.0.4/Images/Ekran görüntüsü 2025-12-22 110345.png">
                        <div class="section_1_gallery_grid1">
                            <img src="~/AdminThema/AdminLTE-3.0.4/Images/Ekran görüntüsü 2025-12-22 110345.png" alt=" " class="img-fluid fixed-size" />
                            <div class="proj_gallery_grid1_pos">
                                <h3>Yazar Girişi</h3>

                            </div>
                        </div>
                    </a>
                </div>
                <div class="section_1_gallery_grid" data-aos="zoom-in">
                    <a href="~/AdminThema/AdminLTE-3.0.4/Images/Ekran görüntüsü 2025-12-22 110408.png">
                        <div class="section_1_gallery_grid1">
                            <img src="~/AdminThema/AdminLTE-3.0.4/Images/Ekran görüntüsü 2025-12-22 110408.png" alt=" " class="img-fluid fixed-size" />
                            <div class="proj_gallery_grid1_pos">
                                <h3>Yazar Hakkında</h3>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4 proj_gallery_grid" data-aos="zoom-in">
                <div class="section_1_gallery_grid">
                    <a href="~/AdminThema/AdminLTE-3.0.4/Images/Ekran görüntüsü 2025-12-22 110426.png">
                        <div class="section_1_gallery_grid1">
                            <img src="~/AdminThema/AdminLTE-3.0.4/Images/Ekran görüntüsü 2025-12-22 110426.png" alt=" " class="img-fluid fixed-size" />
                            <div class="proj_gallery_grid1_pos">
                                <h3>Başlığa Göre Yorumlar</h3>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="section_1_gallery_grid" data-aos="zoom-in">
                    <a href="~/AdminThema/AdminLTE-3.0.4/Images/Ekran görüntüsü 2025-12-22 111107.png">
                        <div class="section_1_gallery_grid1">
                            <img src="~/AdminThema/AdminLTE-3.0.4/Images/Ekran görüntüsü 2025-12-22 111107.png" alt=" " class="img-fluid fixed-size" />
                            <div class="proj_gallery_grid1_pos">
                                <h3>Mesaj Gönder</h3>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="section_1_gallery_grid" data-aos="zoom-in">
                    <a href="~/AdminThema/AdminLTE-3.0.4/Images/Ekran görüntüsü 2025-12-22 111033.png">
                        <div class="section_1_gallery_grid1">
                            <img src="~/AdminThema/AdminLTE-3.0.4/Images/Ekran görüntüsü 2025-12-22 111033.png" alt=" " class="img-fluid fixed-size" />
                            <div class="proj_gallery_grid1_pos">
                                <h3>Görseller</h3>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
